body {
  text-align: center;
  font-family: "Roboto", monospace;
  background-color: #D1ECFF;
}

h1 {
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
  margin: 2%;
  color: #5AA0D1
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 72px;
  line-height: 150px;
  user-select: none;
  width: 61px;
}

.square:hover {
  background-color: white;
  cursor: pointer;
}

#reset-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#score {
  text-align: center;
  font-size: 21px;
}

#mode-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#mode-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

table {
  border: 2px solid;
  margin-top: 60px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

a {
  color: #E75480 font-size: 30px;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: justify;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF
}

#redFirst {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #5AA0D1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#redFirst:hover {
  background-color: #9AC1DC
}

#redFirst:active {
  background-color: #206798;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#yellowFirst {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #5AA0D1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#yellowFirst:hover {
  background-color: #9AC1DC
}

#yellowFirst:active {
  background-color: #206798;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dot {
  height: 100px;
  width: 100px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  line-height: 175px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrap {
  flex-wrap: wrap;
  height: 750px;
  width: 800px;
}

.container {
  align-items: center;
}

.columnv2 {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.Red {
  background-color: #BE2422;
  color: transparent;
}

.Yellow {
  background-color: #F3E233;
  color: transparent;
}

#board {
  background-color: #5AA0D1;
  display: inline-block;
  vertical-align: middle;
  line-height: 123px;
  user-select: none;
  border-radius: 20px;
}
