body {
  text-align: center;
  font-family: "Roboto", monospace;
  background-color: #EED5FA;
}

h1 {
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
  margin: 2%;
  color: #80419E
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}

#reset-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#score {
  text-align: center;
  font-size: 21px;
}

#mode-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}



a {
  color: #E75480 font-size: 30px;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: justify;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF
}

span {
  display: none;
}

.tictactoe:hover {
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, .5), inset 0 0 0 100px rgba(0, 0, 0, .5);
}

.tictactoe:hover span {
  display: block;
}

.tictactoe {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #F966B1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.connectfour:hover {
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, .5), inset 0 0 0 100px rgba(0, 0, 0, .5);
}

.connectfour:hover span {
  display: block;
}

.connectfour {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #5AA0D1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.brickbreaker:hover {
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, .5), inset 0 0 0 100px rgba(0, 0, 0, .5);
}

.brickbreaker {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #65AB70;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.brickbreaker:hover span {
  display: block;
}
