body {
  text-align: center;
  font-family: "Roboto", monospace;
  background-color: #FFD2E9;
}

h1 {
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
  margin: 2%;
  color: #F966B1
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}

.square:hover {
  background-color: white;
  cursor: pointer;
}

#reset-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#score {
  text-align: center;
  font-size: 21px;
}

#mode-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#mode-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

table {
  border: 2px solid;
  margin-top: 60px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

a {
  color: #E75480
  font-size: 30px;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: justify;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF
}

#o-button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #F966B1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#o-button:hover {background-color: #FFBCE0}

#o-button:active {
  background-color: #C1568D;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#x-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #F966B1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  #x-button:hover {background-color: #FFBCE0}

  #x-button:active {
    background-color: #C1568D;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
